.tarjetaPelicula{
    height: auto;
    width: 25%;
    box-sizing: border-box;
    /* background-color: black; */
    font-family: 'Courier New', Courier, monospace;
    margin: 4%;
    border-radius: 15px;
    padding: 1%;
}
.tarjetaPelicula:hover{
    box-shadow: 0rem 0rem 10px 8px rgb(58, 59, 69);
}

.tarjetaPelicula img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}


.card-container{
    background-color:black;
    
}
.cuerpo{
    background-color: black;
}

.header-team{
    background-color:black;
}

.team{
    background-color:rgb(255, 208, 208);
}

.remove{
    background-color: white;
    border: none;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
