.tarjetaPelicula{
    height: auto;
    width: 25%;
    box-sizing: border-box;
    /* background-color: black; */
    font-family: 'Courier New', Courier, monospace;
    margin: 4%;
    
    
}
.tarjetaPelicula img{
    width: 100%;
    height: auto;
    border-radius: 10px;
   

}
.card-container{
    background-color:black;
    
}
.cuerpo{
    background-color: black;
}

.header-team{
    background-color:black;
}

.team{
    background-color:rgb(255, 208, 208);
}
