/* vertical */
.tarjetaRow{
    height: auto;
    width: 95%;
    box-sizing: border-box;
    background-color: rgb(15, 15, 15);
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    border-radius: 15px;
    padding: 1%;
    margin-bottom: 3%;
    background-color: rgb(15, 15, 15);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.tarjetaRow img{
    width: 17%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0rem 0rem 6px 6px rgb(31, 34, 41);
    margin: 3%  3% 3% 0;
}
.tarjetaRow .ordenRow{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 60%;
    padding-left: 2%;
    justify-content: space-between;
    margin-top: 3% ;
}

/* .tarjetaRow h3{
    padding-left: 1%;
} */
.tarjetaRow .more{
    width: 15%;
}
.tarjetaRow .remove{
    width: 15%;
    margin-top: 2%;
}
.tarjetaRow:hover{
    box-shadow: 0rem 0rem 10px 8px rgb(58, 59, 69);
}

/* cuadraditos */

.tarjetaPelicula{
    height: auto;
    width: 25%;
    box-sizing: border-box;
    background-color: rgb(15, 15, 15);
    font-family: Arial, Helvetica, sans-serif;
    margin: 4%;
    border-radius: 15px;
    padding: 1%;
}
.tarjetaPelicula img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 3%;
    box-shadow: 0rem 0rem 6px 6px rgb(31, 34, 41);
}
.tarjetaPelicula .remove{
    margin-left: 2%;
}
/* aca */

.tarjetaPelicula:hover{
    box-shadow: 0rem 0rem 10px 8px rgb(58, 59, 69);
}

.header-team{
    background-color:black;
}

.team{
    background-color:rgb(255, 208, 208);
}

.remove{
    border-radius: 5px;
    background-color: white;
    border: none;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.remove:hover{
    box-shadow: 0rem 0rem 4px 2px rgb(201, 22, 22);
    color: rgb(201, 22, 22);
}
.more{
    border-radius: 5px;
    background-color: white;
    border: none;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* poner a los dos bottones distancia */
}
.more:hover{
    box-shadow: 0rem 0rem 4px 2px rgb(182, 183, 190);
}
.aditional-info{
    display: none;
    
}
.aditional-info-show{
    display: block;
}
.description{
    text-align: justify ;
}

