*{
    font-family: Arial, Helvetica, sans-serif;
}
.cuerpo{
    background-color: black;
}
/* vertical */
.card-container{
    margin-top: 20px;
    padding: 0%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
/* cuadraditos */
/* .card-container{
    margin-top: 20px;
    padding: 0%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
} */

.botonAgregar{
    border-radius: 5px;
    background-color: white;
    border: none;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 2%;
}
.botonAgregar:hover{
    box-shadow: 0rem 0rem 4px 2px rgb(182, 183, 190);
}




