*{
    font-family: Arial, Helvetica, sans-serif;
}
.cuerpo{
    background-color: black;
}
/* vertical */
.tarjetaRow{
    margin-top: 20px;
    padding: 0%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    color: rgb(177, 169, 169);
}

/* cuadraditos */
.card-container{
    margin-top: 20px;
    padding: 0%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    color: rgb(177, 169, 169);
}

.botonAgregar{
    border-radius: 5px;
    background-color: rgb(177, 169, 169);
    border: none;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 2%;
}
.botonAgregar:hover{
    box-shadow: 0rem 0rem 4px 2px rgb(182, 183, 190);
}
.orden i{
    margin-left: 2%;
    cursor:pointer;
    font-size: 23px;
    color: rgb(233, 229, 223);
}
.orden i:hover{
    box-shadow: 0rem 0rem 4px 3px rgba(18, 18, 19, 0.89);
}
.orden{
    width: 100%;
    background-color: rgb(27, 27, 43);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    flex-direction: row-reverse;
    padding-right: 3%;
    padding-bottom: 1%;
}



