header{
    height: 10vh;
    width: 100%;
    background-color: rgb(16, 36, 49);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(233, 229, 223);
}

.titulo{ 
    margin: auto auto auto 2%;
    text-decoration: none;
    font-size: 40px;
    /* color: black; */
    color: rgb(233, 229, 223);
    
}
.titulo:hover{
    text-decoration: none;
    /* color: black; */
    color: rgb(233, 229, 223);
}
img{
    width: 300px;
}


header form{
    margin: auto 2% auto 3%;
}

header p{
    margin: auto 0 auto 0;
}

header i{
    margin: auto 0 auto 2%;
    padding-right: 1%;
}
