header{
    height: 10vh;
    width: 100%;
    background-color: rgb(16, 36, 49);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(233, 229, 223);
}

.titulo{ 
    margin: auto auto auto 2%;
    text-decoration: none;
    font-size: 45px;
    /* color: black; */
    color: rgb(233, 229, 223);
    
}
.titulo:hover{
    text-decoration: none;
    /* color: black; */
    color: rgb(233, 229, 223);
}
img{
    width: 300px;
}

/* header i{
    margin: auto 0 auto 4%;
    padding-right: 2%;
} */

.formulario{
    padding-top: 1.5%;
    padding-right: 3%;
    /* padding-right: 7%; */
}
.buscar form input{
    border-radius: 3px;
}
